@import url(main.css);

/* Estilos para los testimonios */
.contenedor-testimonios {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
    max-width: 1400px;
    margin: auto;
}

.testimonio-usuario {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.testimonio-usuario:hover {
    box-shadow: 0px 8px 20px rgba(0,0,0,0.2);
}

.mensaje {
    font-size: 14px;
    color: #333;
}

.cliente {
    font-size: 14px;
    font-weight: bold;
    color: #0a5275;
}

@media(max-width: 767px) {
    .contenedor-testimonios {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 479px) {
    .contenedor-testimonios {
        grid-template-columns: 1fr
    }
}
/* Fin de los Estilos para los testimonios */

