@import url(main.css);

#galeria img {
     margin-top: 1em;
     margin-bottom: 1em;
     width: 300px;
     height: 300px;
     border-radius: 25px;
     -webkit-border-radius: 25px;
     -moz-border-radius: 25px;
     -ms-border-radius: 25px;
     -o-border-radius: 25px;
     filter: sepia(50%);
     -webkit-filter: sepia(50%);
     transform: scale(1);
     -webkit-transform: scale(1);
     -moz-transform: scale(1);
     -ms-transform: scale(1);
     -o-transform: scale(1);

     transition: all 1s;
     -webkit-transition: all 1s;
     -moz-transition: all 1s;
     -ms-transition: all 1s;
     -o-transition: all 1s;


}

#galeria img:hover {
     filter: sepia(0%);
     -webkit-filter: sepia(0%);


     transform: scale(1.2);
     -webkit-transform: scale(1.2);
     -moz-transform: scale(1.2);
     -ms-transform: scale(1.2);
     -o-transform: scale(1.2);

     transition: all 1s;
     -webkit-transition: all 1s;
     -moz-transition: all 1s;
     -ms-transition: all 1s;
     -o-transition: all 1s;
}